.item-page {
  .header {
    height: 64px;
  }

  .content {

  }

  .title {
    text-align: center;
    font-family: "Montserrat Alternates";
    margin: auto auto 42px auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #585666;

  }

  .info {
    font-family: 'Inter';
    font-size: 15px;
    line-height: 18px;
    color: #585666;
  }
}
